#
# This workflow is kicked off when a push, pull request even is received
# Or a tag is created.
#
# It can also be manually triggered by the user in which case, the result_slug
# is added
# The testspace results have the following form:
#
#   A<workflow ID>:<author>-<branch or tag>
#   e.g. A25:lbrack-release-1.x
#   M<workflow ID>:<author>-<result_slug>-<branch or tag>
#   e.g. M26:lbrack-hello world-release-1.x
# Tags 3.0.1
# Tags 3.0.2

name: Staging Release

on:
  push:
    branches:
      - 'release/**'
    tags:
      - 'staging-**'

  pull_request:
    branches:
      - 'release/**'

  schedule:
    # * is a special character in YAML so you have to quote this string
    # https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#scheduled-events
    # Note that this schedule runs on the last commit of the DEFAULT branch.
    - cron:  '* * * * *'
  workflow_dispatch:
    inputs:
      result_slug:
        description: A token used as a mnemonic for that run
        required: true        


jobs:

  ci-test-staging:

    runs-on: ubuntu-latest

    steps:

    - name: Dump context
      uses: crazy-max/ghaction-dump-context@v1

    - uses: actions/checkout@v3
      with:
        ref: ${{ github.env.ref_name }}

    - uses: testspace-com/setup-testspace@v1
      with:
        domain: ${{ github.repository_owner }}
        token: ${{ secrets.TESTSPACE_TOKEN }}

    - name: Install build essentials
      run: |
        sudo apt-get install build-essential

    - name: Add local bin to path
      run: |
        echo "/home/runner/.local/bin" >> $GITHUB_PATH

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt


    - name: Test with pytest
      run: |
        pytest test -s --junit-xml=junit-report.xml

    - name: Push Pytest results to Testspace server
      run: |
          if [ -z '${{ github.event.inputs.result_slug }}' ]; then
            BUILD_SLUG=A${{ github.run_number }}:${{ github.actor }}-${{ github.ref_name }}
          else
            BUILD_SLUG=M${{ github.run_number }}:${{ github.actor }}-${{ github.event.inputs.result_slug }}-${{ github.ref_name }}
          fi
          export TEST_SPACE_RESULT_NAME="${BUILD_SLUG////-}"
          echo ">>>" testspace "junit-*.xml" ci-demo/staging#$TEST_SPACE_RESULT_NAME
          testspace "junit-*.xml" ci-demo/staging#$TEST_SPACE_RESULT_NAME
      working-directory: ${{env.working-directory}}
      if: always()
